body {
    font-family: 'Asul', sans-serif;
    line-height: 1.7;
}

header {
    margin: 0 1rem;
}

header a {
    transition: color 0.5s ease;
    color: #aaa;
    text-decoration: none;
}

header a:hover {
    color: firebrick;
    text-decoration: underline;
}

main {
    max-width: 38rem;
    margin: 0.5rem auto;
}

h1 {
}

blockquote {
    font-style: italic;
}

hr { 
  margin: 2.5em 0 -1em 0;
  padding: 0;
  border: none;
  border-top: medium double #ccc; 
  color: #ccc; 
  text-align: center; 
} 
hr:after { 
  content: "\2743"; 
  display: inline-block; 
  position: relative; 
  top: -0.9em; 
    font-size: 1.5em; 
  padding: 0 0.4em; 
  background: #fff;
}

